/* Your CSS here. */
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 750px;
}

/*
Citation for centering the box horizontally and vertically: 

https://www.w3schools.com/css/css_align.asp
*/


body {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.box h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

h1 {
    color: white;
}

p {
    color: white;
}

h3 {
    color: white;
    font-style: italic;
}

img {
    width: 150px;
    height: 150px;
}

.space {
    height: 100px;
}